body {
  box-sizing: content-box;
  font-family: 'roboto', sans-serif;
}

#page {
  width: 1236px;
}

.logo-bar {
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 318px;
  border: 1px solid black;
}

.top-right-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.search-form {
  background-color: #EEEEEE;
}

#search-bar {
  border: none;
  background-color: #EEEEEE;
}

#search-button {
  border: none;
  background-color: #EEEEEE;
}

.sales-service {
  color: #666;
}

.nav-bar {
  background-color: #000;
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  padding-top: 15px;
}

.nav-list-item {
  display: inline;
  width: 90px;
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: #CCCCCC;
}

.main-picture {
  position: relative;
}

.inner-box {
  position: absolute;
  top: 730px;
  left: 15px;
  width: 396px;
  height: 80px;
  background-color: #EFBF34;
  opacity: 0.9;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.result-bar {
  background-color: #EEEEEE;
}

.show-select{
  outline: none;

}




