body {
  box-sizing: content-box;
  font-family: 'roboto', sans-serif;
}

#page {
  width: 1236px;
}

.logo-bar {
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}

.logo {
  border: 1px solid black;
}

.top-right-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.sales-service {
  color: #666;
}

.nav-bar {
  background-color: #000;
  height: 60px;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding-left: 5px;
  padding-top: 20px;
}

.nav-list-item {
  display: inline;
}

a {
  text-decoration: none;
  color: #666;
}